/*
Placeholder for app specific css properties.
*/
.top-buffer{
    margin-top:10px;
}

.apptable tr td:nth-child(2){
    width: 150px;
}

.apptable tr:nth-child(1) td{
    border-top: none;
}
a.nodecoration{
    text-decoration:none;
}
