<table class="table apptable">
  <tr>
    <td><h3>Details for {{language.name}}</h3></td>
    <td></td>
  </tr>
  <tr>
    <td>Language id</td>
    <td>{{language.id}}</td>
  </tr>
  <tr>
    <td>Language name</td>
    <td>{{language.name}}</td>
  </tr>
  <tr>
    <td>Language description</td>
    <td>{{language.description}}</td>
  </tr>
</table>
<div>
  <a class="btn btn-warning" ui-sref="languages">Back</a>
  <a class="btn btn-primary" ui-sref="editLanguage({id:language.id})">Edit</a>
  <a class="btn btn-info" ui-sref="courses({languageId:language.id})">Show courses</a>
</div>
