<table class="table apptable">
  <tr>
    <td><h3>Details for {{lesson.name}}</h3></td>
    <td></td>
  </tr>
  <tr>
    <td>Lesson id</td>
    <td>{{lesson.id}}</td>
  </tr>
  <tr>
    <td>Lesson name</td>
    <td>{{lesson.name}}</td>
  </tr>
  <tr>
    <td>Lesson description</td>
    <td>{{lesson.description}}</td>
  </tr>
</table>
<div>
  <a class="btn btn-warning" ui-sref="lessons({languageId: langId, courseId: cId})">Back</a>
  <a class="btn btn-primary" ui-sref="editLesson({id: lesson.id, languageId: lesson.course.language.id, courseId: lesson.course.id})">Edit</a>
</div>
